    <footer class="group" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <nav>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li>Built by the <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a>
                        </li>
                    </ul>
                    <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, except where otherwise stated</p>
                </nav>

                <div class="copyright">
                    <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown Copyright</a>
                </div>
            </div>
        </div>
    </footer><!--end footer-->