
  
  <hgroup class="col-35 col-text-right">
    <h1>{{ page.total }}</h1>
    {% if page.quarter %}
    <h2>{{ page.quarter }}</h2>
    {% endif %}
    {% if page.available-quarters %}
    <details>
      <summary role="button" aria-expanded="false">Historical Data</summary>
      <ol class="historical-data tabular">
      {% for link_hash in page.available-quarters %}
        {% for link in link_hash %}
        <li><a href="{{ link[1] }}" alt="View data for {{ link[0] }}">{{ link[0] }}</a></li>
        {% endfor %}
      {% endfor %}
      </ol>
    </details>
    {% endif %}
    </hgroup>
  