{% include head_standard.html %}
<!-- Custom CSS/JS goes here -->
<link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css">
<script src="/assets/javascripts/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/main.js" type="text/javascript"></script>
<!--[if gt IE 8]><!-->
<script src="/assets/javascripts/d3.v3.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/jquery.dotdotdot-1.5.9.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/visualisation.js" type="text/javascript"></script>
<script src="/assets/javascripts/charts/basechart.js" type="text/javascript"></script>
<script src="/assets/javascripts/charts/treemap.js" type="text/javascript"></script>
<script src="/assets/javascripts/charts/barchart.js" type="text/javascript"></script>
<script src="/assets/javascripts/charts/doughnut.js" type="text/javascript"></script>
<!--<![endif]-->
</head>