			<header id="global">
				<nav class="performance-nav">
					<a href="/" title="Government Interrogation Spending Tool" class="top-level">
						<span class="top-level-link">GIST</span>
						<span class="alpha-tag">Alpha</span>
					</a>
					<div class="menu-wrapper">
						<a id="menu-toggle" href="#" data-hide-or-show="sub-level">menu</a>
						<div class="inner-nav">
							<ul id="navigation">
                <li class="sub-level">
                  <a href="/about" title="View description about the Government Interrogation Spending Tool" {% if page.url contains "/about" %}class="current"{% endif %}>About</a>
                </li>
								<li class="sub-level">
									<a href="/qds" title="View Quarterly data summaries" {% if page.url contains "/qds" %}class="current"{% endif %}>QDS</a>
								</li>
								<li class="sub-level">
                  <a href="/index.html" title="Learn about what you can do on the GIST website" {% if page.url  == "/index.html" %}class="current"{% endif %}>Home</a>
                </li>
                <li class="sub-level">
                  <a href="/oscar" title="View OSCAR spending data" {% if page.url contains "/oscar" %}class="current"{% endif %}>OSCAR</a>
                </li>
							</ul>
						</div>
					</div>
				</nav>
			</header>