<nav>
  <ul class="tabs">
    <li {% if page.url contains "/spend-by-type-of-budget" %} class="active" {% endif %}>
      <a href="../spend-by-type-of-budget/"  title="View Spend by Budget Type data">
        <span>Budget</span>
      </a>
    </li>
    <li {% if page.url contains "/spend-by-type-of-internal-operation" %} class="active" {% endif %}>
      <a href="../spend-by-type-of-internal-operation/" title="View Spend by Type of Internal Operations data">
        <span>Operation</span>
      </a>
    </li>
    <li {% if page.url contains "/spend-by-type-of-transaction" %} class="active" {% endif %}>
      <a href="../spend-by-type-of-transaction/" title="View Spend by Type of Transaction data">
        <span>Transaction</span>
      </a>
    </li>
  </ul>
</nav>