<table id="data-table">
  <thead>
    <tr>
      <th scope="col">
        {% if page.table-header-name-label %}
        {{ page.table-header-name-label }}
        {% else %}
        Name
        {% endif %}
      </th>
      <th scope="col" class="amount">Spend
        <span class="sort-ind">▼</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {{ content }}
  </tbody>
  <tfoot>
    <tr>
      <th class="sorter-false">Total</th>
      <th class="amount sorter-false" title="{{ page.total-value }}">{{ page.total-row-label }}</th>
    </tr>
  </tfoot>
</table>