---
redirect-url: <!--REDIRECT_URL-->
---
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url={{ page.redirect-url }}">
        <script type="text/javascript">
            window.location.href = "{{ page.redirect-url }}"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        If you are not redirected automatically, follow the <a href='{{ page.redirect-url }}'>link</a>
    </body>
</html>