svg {
  .y.axis, .x.axis {
    path {
      fill: none;
    }
    line {
      stroke: #eee;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
  }
  .bars {
    text {
      @include core-16;

      .amount {
        @include bold-16;
      }

    }
    rect.hitbox {
        fill: transparent;
    }
  }
}