
@import 'colours';

::-ms-clear {
    display: none;
}

.clear-both {
  clear: both;
}

#wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

#wrapper * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content {
  border-top: 10px solid $primary-colour;
  background-color: #FFFFFF;
  padding: 1em 2em;

  .col-50 {
    width:49.99%;
    float:left;
  }
}

header {
  hgroup.full-width {
    padding-left: 0;
    padding-right: 0;
    margin-right: 1em;
  }
}

header.page-header {
  hgroup {
    h2 {
      color: $grey-1;
      @include core-24;
    }
  }
  hgroup.gist-image {
    background: url(/assets/images/data_vis.png) no-repeat center right;

    h1,h2 {
      max-width: 70%;
    }
  }
}
@media (max-width: 800px){
  header.page-header hgroup.gist-image h1,
  header.page-header hgroup.gist-image h2 {
     max-width: 100%;
  }
  header.page-header hgroup.gist-image {
      background: none;
  }
}

.dataset-selector a {
  text-decoration: none;
  h1 {
    @include bold-48;
  }
}

article {
  h2 {
    @include core-24;
  }
  section.content-group {
    h2 {
      border-bottom: 5px solid #108095;
      padding: 16px 0 8px 0;
      margin: 16px 0 16px 0;
    }
  }
}

@media (max-width: 640px) {
  #content {
    padding: 1em;

    .col-50 {
        width:100%;
        float:none;
        margin-left:0;
    }
  }
}

#data-table {
  .amount {
    text-align: right;
  }
}