@import '_colours';
@import '_conditionals';
@import '_typography';

$primary-colour: #097F96;
$primary-colour-text: darken($primary-colour, 7%);

@import 'nav';
@import 'layout';
@import 'tooltip';
@import 'treemap';
@import 'barchart';
@import 'doughnut';
@import 'tables';
@import 'tabbed_layout';

/* Whitehall imports */
@import 'whitehall/_dimensions';
#whitehall-wrapper {
  @import 'whitehall/_colours';
  @import 'whitehall/_organisations';
}

/*layout overrides*/
footer#footer div.footer-wrapper {
  padding:0;
}
footer#footer div.footer-wrapper div.footer-meta {
  border:none;
  margin:0;
}
footer#footer .footer-meta .copyright a {
  background: transparent url(/static/govuk-crest.png) no-repeat 50% 0;
}
article {
  table {
    width: 100%;
    margin: 1em 0em 2em 0em;
  }
  .form-download {
    margin: 0;
    background: url(/static/icon-file-download.png) no-repeat scroll 98% 1em #d5e8f3;
  }
  .help-notice {
    margin: 1em 0 1em 0;
    background: url(/static/icon-important.png) no-repeat scroll 98% 1em #eaedef;
  }
}
header#global-breadcrumb {
  border-bottom: none;
  padding: 0;
  nav ol li {
    background-image: url(/static/separator.png);
  }
  nav ol li:last-child {
    background-image: none;
  }
}

#whitehall-wrapper {
  margin-top: 0.8em;
}
#whitehall-wrapper .organisation-logo span, #whitehall-wrapper h1 {
    font-size: 27px;
    line-height: 30px;
    font-family: Helvetica,Arial;
    font-weight: normal;
    margin-left:0;
    margin-bottom: 0;
    padding-top:0;
}