.tabs {
  padding-left: 0;
  width: 100%;
  margin: 0;
  clear:both;

  li {
    list-style:none;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    float:left;
    width:25%;
    border-bottom: 1px solid #999;
    margin-bottom: 0.8em;

    a {
      float:left;
      width:100%;
      padding: 7px 16px 5px 19px;
      background: #ddd;
      border: 4px solid white;
      margin-bottom: 0;
      @include core-16;
      color: #0b0c0c;
      text-decoration: none;
      cursor:pointer;
    }
    :hover {
      text-decoration: underline;
    }
  }
  li.label {
    margin-bottom: 0px;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin-top: 8px;

    span{
      font-size: 18px;
      text-decoration: none;
      cursor: default;
      margin: 0 auto;
    }
  }


  li.active {
    border-bottom: 1px solid #fff;
    a {
      background: white;
      border: 1px solid #999;
      border-bottom:0;
      padding: 10px 16px 10px 22px;
    }
  }
}