.node {
  overflow: hidden;
  position: absolute;

  div {
    padding: 5px;
    line-height: 1.2;

    div { padding: 0; }

    .small {
      @include core-14;
      em {
        font-style: normal;
        @include bold-14;
      }

      .amount {
        @include bold-16;
      }
    }
    .medium {
      @include core-19;
      .amount {
        @include bold-27;
      }
    }
    .large {
      @include core-24;
      .amount {
        @include bold-48;
      }
    }
    .x-large {
      @include core-27;
      .amount {
        @include bold-80;
      }
    }

  }
}