.node {
  overflow: hidden;
  position: absolute;

  span {
    display: inline-block;
    padding: 5px;
    color: white;
    @include core-14;

    .rotate {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);

      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;

      /* Should be unset in IE9+ I think. */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }

    .small {
      .amount {
        @include bold-16;
      }
    }
    .medium {
      @include core-19;
      .amount {
        @include bold-27;
      }
    }
    .large {
      @include core-24;
      .amount {
        @include bold-48;
      }
    }
    .x-large {
      @include core-27;
      .amount {
        @include bold-80;
      }
    }

  }
}