
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en" class="">
<!--<![endif]-->{% include head_table.html %}
<body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#homepage" class="visuallyhidden">Skip to main content</a>

    <div id="wrapper">
      {% include header_nav.html %}

      <section id="content" role="main">
        {% include header_breadcrumbs.html %}

        <header class="page-header table-page-header group">
          <hgroup class="col-65">
            {% if page.header-title %}
            <h2>{{ page.header-title }}</h2>
            {% endif %}
            {% include department_name_logo.html %}
          </hgroup>
          {% include header_standard.html %}
        </header>

        <div class="group">
          <article role="article" class="group">
            {% include chart_with_all.html %}

            {% if page.source-label != "" %}
            <p class="source">
              Source: {{ page.source-label }}
              {% if page.quarter %}
               - {{ page.quarter }}
              {% endif %}
            </p>
            {% endif %}
            <section class="content-group">

              {% include table_with_total.html %}

              {% include download_csv.html %}
            </section>
          </article>
        </div>

      </section>
    </div>

{% include footer.html %}<div id="global-app-error" class="app-error hidden"></div>
  </body>
</html>